/* Color Variables */
:root {
  --blue: rgb(40,56,144);
  --yellow: rgb(254,213,0);
  --white: rgb(255,255,255);
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  height: 100vh !important;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* page styles */
body
 {
  box-sizing: border-box;
  background-color: rgb(40, 56, 144) !important;
}

nav {
  background-color: var(--yellow) !important;
}

.navbar {
  background-color: var(--yellow) !important;
  list-style-type: none !important;
  text-decoration: none !important;
}

input {
  border-color: var(--blue) !important;
}

form button {
  background-color: var(--blue) !important;
}

#logBtn {
  background-color: var(--blue) !important;
  color: var(--white) !important;
}

#logout {
  background-color: var(--blue) !important;
  color: var(--white) !important;
}

.column .error {
  display: flex;
  justify-content: left;
  color: red;
  margin-top: 6px;
  display: none;
}

.column .error-icon {
  margin-right: 6px;
  font-size: 15px;
  margin-top: 5px;
}

.invalid .error {
  display: flex;
}

#crudTitle {
  color: #ffff;
  font-size: 24px;
  letter-spacing: 2px;
  margin-top: .5em;
  text-align: center;
}

#items-list {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 20px;
  background:var(--blue);
  font-size: 8px;
  color: var(--yellow);
}

li span {
  display: block;
}

li span:nthchild {
  font-size: 12px;
  margin-top: 6px;
  color: var(--white);
}

#crud label {
  display: inline-block;
  width: 80px;
}

#crud button {
  cursor: pointer;
  border-radius: 5px;
}





